<p>emp-comp works!</p>
<form #frm="ngForm" (ngSubmit)="updateInfo(frm)">
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button">add info</button>
    </div>
</form>

<button type="button" (click)="getempinfo1()">emp1</button>
<ul><li *ngFor="let info of info1">{{info}}</li></ul><br>
<pre></pre>
<button type="button" (click)="getempinfo2()">emp2</button>
<ul><li *ngFor="let info of info2">{{info}}</li></ul><br>
<pre></pre>
<button type="button" (click)="getempinfo3()">emp3</button>
<ul><li *ngFor="let info of info3">{{info}}</li></ul><br>
